<% provide(:title, @user.name) %>

<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        &emsp;<%= l(@first_day, format: :middle) %> 時間管理表&emsp;
      </td>
      <td>
        指定勤務開始時間: <%= designated_info(@user.designated_work_start_time) %><br>
        指定勤務終了時間: <%= designated_info(@user.designated_work_end_time) %>
      </td>
      <td colspan="3">基本時間: <%= format_basic_info(@user.basic_time) %></td>
      <td>月初日: <%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属: <%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前: <%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.employee_number %></td>
      <td>出勤日数: <%= @worked_sum %>日</td>
      <td>月末日: <%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>


<div>
  <table class="table table-striped table-bordered table-condensed" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="2">【実績】</th>
        <th colspan="5">所定外勤務</th>
        <th colspan="6">【実績】</th>
      </tr>
      <tr>
        <th colspan="2">出社</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認㊞</th>
        <th rowspan="2">時間外処理</th>
        <th colspan="2">退社</th>
        <th colspan="4"></th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
        <th>在社時間</th>
        <th>備考</th>
        <th>指示者</th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |attendance| %>
        <tr>
          <td><%= l(attendance.worked_on, format: :short) %></td>
          <td>
            <% if attendance.worked_on.wday == 6 %>
             <font color="blue">土</font>
            <% elsif attendance.worked_on.wday == 0 %>
             <font color = "red">日</font>
            <% else %>
             <%= $days_of_the_week[attendance.worked_on.wday] %>
            <% end %>
          </td>
          <td>
            <% if attendance.started_at.present? && attendance.renewed_started_at.present? %>
              <%= attendance.started_at.hour %>
            <% else if attendance.started_at.present? && attendance.attendance_state == 2 %>
              <%= attendance.started_at.hour %>
             <% end %>
            <% end %>
          </td>
          <td>
            <% if attendance.started_at.present? && attendance.renewed_started_at.present? %>
              <%= format_min(attendance.started_at) %>
            <% else if attendance.started_at.present? && attendance.attendance_state == 2 %>
              <%= format_min(attendance.started_at) %>
             <% end %>
            <% end %>
          </td>
          <td>
            <% if attendance.finish_time.present? && attendance.superior_state == 2 %>
             <%= attendance.finish_time.hour %>
            <% end %>
          </td>
          <td>
            <% if attendance.finish_time.present? && attendance.superior_state == 2 %>
             <%= format_min(attendance.finish_time) %>
            <% end %>
          </td>
          <td>
            <% if attendance.finish_time.present? && attendance.superior_state == 2 %>
              <%= attendance.contents %>
            <% end %>
          </td>
          <td>
            <% if attendance.select_superior_id == 2 && attendance.contents.present? && attendance.superior_state == 1 %>
             <%= "上長Aに残業申請中" %><br>
            <% elsif attendance.select_superior_id == 3 && attendance.contents.present? && attendance.superior_state == 1 %>
             <%= "上長Bに残業申請中" %><br>
            <% end %>
            <% if attendance.superior_state == 2 %>
             <h5 style = "color :blue">残業申請承認済み</h5>
            <% end %>
            <% if attendance.superior_state == 3 %>
             <h5 style = "color :red">残業申請否認</h5>
            <% end %>
          </td>
          <td>
              <% if attendance.finish_time.present? && @user.designated_work_end_time.present? %>
               <% if attendance.superior_state == 2 %>
               <%= overtime_info(@user.designated_work_end_time, attendance.finish_time, attendance) %>
               <% end %>
              <% end %>
          </td>
          <td>
            <% if attendance.finished_at.present? && attendance.renewed_finished_at.present? %>
             <%= attendance.finished_at.hour %>
            <% else if attendance.finished_at.present? && attendance.attendance_state == 2 %>
             <%= attendance.finished_at.hour %>
             <% end %>
            <% end %>
          </td>
          <td>
            <% if attendance.finished_at.present? && attendance.renewed_finished_at.present? %>
             <%= format_min(attendance.finished_at) %>
            <% else if attendance.finished_at.present? && attendance.attendance_state == 2 %>
             <%= format_min(attendance.finished_at) %>
             <% end %>
            <% end %>
          </td>
          <td>
            <% if attendance.started_at.present? && attendance.finished_at.present? && attendance.renewed_started_at.blank? && attendance.renewed_finished_at.blank? %>
             <%= str_times = working_times(attendance.started_at, attendance.finished_at) %>
             <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
            <% if attendance.renewed_started_at.present? && attendance.renewed_finished_at.present? && attendance.attendance_state == 2 %>
             <%= str_times = renew_working_times(attendance.renewed_started_at, attendance.renewed_finished_at, attendance) %>
             <% @renewed_working_times = @renewed_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td>
            <% if attendance.renewed_finished_at.present? && attendance.attendance_state == 2 %>
              <%= attendance.description %>
            <% end %>
          </td>
          <td>
            <% if attendance.superior_choice_id == 2 && attendance.description.present? && attendance.attendance_state == 1 %>
             <%= "上長Aに勤怠変更申請中" %>
            <% elsif attendance.superior_choice_id == 3 && attendance.description.present? && attendance.attendance_state == 1 %>
             <%= "上長Bに勤怠変更申請中" %>
            <% end %>
            <% if attendance.attendance_state == 2 %>
             <h5 style = "color :blue">勤怠変更承認済み</h5>
            <% end %>
            <% if attendance.attendance_state == 3 %>
             <h5 style = "color :red">勤怠変更否認</h5>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td>累計日数</td>
        <td colspan="2">総合勤務時間</td>
        <td colspan="6">累計在社時間</td>
        <td></td>
        <td></td>
        <td colspan="5">月度勤怠の申請状況</td>
      </tr>
      <tr>
        <td><%= @attendances.count %></td>
        <td colspan="2"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td colspan="6"><%= format("%.2f", @total_working_times.to_f) %></td>
        <td></td>
        <td></td>
        <td colspan="5">
          <% if @beginning_of_month_attendance.one_month_superior_status == '申請中' && @beginning_of_month_attendance.one_month_status == 1 %>
            <h5><%= @beginning_of_month_attendance.one_month_superior&.name %>に所属長承認申請中</h5>
          <% else if @beginning_of_month_attendance.one_month_status == nil %>
            <h5>所属長承認: 未申請</h5>
          <% end %>
          <% end %>
          
          <% if @beginning_of_month_attendance.one_month_status == 2 %>
            <h5 style = "color :blue">所属長承認: 承認済み</h5>
          <% end %>
          <% if @beginning_of_month_attendance.one_month_status == 3 %>
            <h5 style = "color: red">所属長承認: 否認</h5>
          <% end %>
          <% if @beginning_of_month_attendance.one_month_status == 4 %>
            <h5>所属長承認: 未申請</h5>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div id="edit-overwork-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-overwork-notice" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-one-month-apply" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-attendance-apply" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

