<% provide(:title, "Edit Overtime Request") %>
<% provide(:class_text, 'edit-overwork-request') %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h1 class="modal-title">残業申請</h1>
        <%= form_with(model: @attendance, url: update_overwork_request_user_attendance_path(@user, @attendance), local: true, method: :patch) do |f| %>
           <table class="table table-bordered table-overwork">
             <%= render 'shared/error_messages', obj: @attendance %>
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>翌日</th>
                  <th>業務処理内容</th>
                  <th>指示者確認㊞</th>
                </tr>
              </thead>
               
              <tbody>
                <tr>
                  <td><%= l(@attendance.worked_on, format: :short) %></td>
                  <td>
                    <% if @attendance.worked_on.wday == 6 %>
                      <font color = "blue">土</font>
                    <% elsif @attendance.worked_on.wday == 0 %>
                      <font color = "red">日</font>
                    <% else %>
                      <%= $days_of_the_week[@attendance.worked_on.wday] %>
                    <% end %>
                  </td>
                  <td><%= f.time_field :finish_time, { include_blank: true, class: "imput-sm" } %></td>
                  <td><%= f.check_box :next_day_check, {}, "true", "false" %></td>
                  <td><%= f.text_field :contents, class: "form-control" %></td>
                  <td><%= f.collection_select :select_superior_id, @over_apply, :id, :name, :prompt => "送信先を選択" %></td>
                </tr>
              </tbody>
            </table>
          <%= f.submit "残業を申請する", class: "btn btn-primary btn-block" %>
        <% end %>
    </div>
  </div>
</div>

